.photo__like {
   margin: 0;
   padding: 0;
   min-width: 22px;
   min-height: 19px;
   background-image: url(../../../images/serd.svg);
   background-size: cover;
   background-position: 0;
   background-repeat: no-repeat;
   cursor: pointer;
   border: none;
}

.photo__like:hover {
   opacity: 0.5;
}

.photo__like:active {
   opacity: 1;
   background: url(../../../../images/serdBlack.svg) 0 0/ cover no-repeat;
}
