.profile__subname {
   margin: 0;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
}

@media screen and (min-width: 1024px) {
   .profile__subname {
      font-size: 18px;
      line-height: 22px;
      text-align: left;
   }
}
