.button_edit {
   margin-top: 8px;
   border: 1px solid #FFFFFF;
   max-height: 18px;
   min-width: 18px;
   background: url(../../../images/str7.svg) center/ 7px 7px no-repeat;
}

.button_edit:hover {
   opacity: 0.6;
}

@media screen and (min-width: 1024px) {
   .button_edit {
      min-width: 24px;
      max-height: 24px;
      margin-top: 18px;
      margin-right: 20px;
      background: url(../../../images/str10.svg) center/ 10px 10px no-repeat;
   }
}
