.popup__text {
   margin: 0;
   padding: 13px 0 13px;
   border: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   font-size: 14px;
   line-height: 17px;
}

.popup__text::-moz-placeholder {
   color: black;
}

.popup__text::-webkit-input-placeholder {
   color: black;
}

.popup__text:focus {
   outline: 2px solid rgba(68, 104, 224, 0.7);
}
